
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* index.js */
#app-container {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}

#activeUsers-container {
  width: 25%;
  height: 100vh;
}

.activeUser-item {
  padding: 3px;
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
  min-width: 200px;
}

#video-container {
  text-align: center;
}

#instructions-container {
  text-align: center;
}

/* lobby/index.js */
#lobbyRoom-container {
  border: 1px solid black;
  width: 100%;
  height: 100vh;
}

#gameDisplay-container {
  border: 1px solid black;
  width: 75vw;
  height: 50vh;
}

#lobbyChat-container {
  border: 1px solid black;
  height: 40vh;
  width: 75vw;
}

/* play/index.js */
#gameRoom-container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 100%;
  max-height: 100vh;
}
/* game board + player cards div */
#gameRoom-inner-container {
  display: flex;
  flex-direction: column;
}
/* main game board div */
#gameBoard-container {
  border: 1px solid black;
  height: 60%;
}

#gameChat-container {
  border: 1px solid black;
  min-width: 28%;
  height: 100vh;
}

#playerCards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.playerCard {
  text-align: center;
  height: 200px;
  width: 150px;
}


