html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* index.js */
#app-container {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}

#activeUsers-container {
  width: 45%;
  height: 100vh;
}

#activeUsersList-container {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.activeUser-item {
  /* display + justify-content are applied inline due to selector specificities  */
  /* display: flex;
  justify-content: space-between; */
  margin: 3%;
  width: 50%;
}

.activeUsers-username,
.activeUsers-rank {
  display: inline;
  align-self: center;
}

.userAvatar {
  border-radius: 999px;
  height: 35px;
  width: 35px;
}

#video-container {
  text-align: center;
}

#instructions-container {
  text-align: center;
}

/* lobby/index.js */
#lobbyRoom-container {
  border: 1px solid black;
  width: 100%;
  height: 100vh;
}

#gameDisplay-container {
  border: 1px solid black;
  width: 75vw;
  height: 50vh;
  margin-top: 3.5em;
  overflow: auto;
}

#lobbyChat-container {
  border: 1px solid black;
  height: 40vh;
  width: 75vw;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* play/index.js */
#gameRoom-container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 100%;
  max-height: 100vh;
}
/* game board + player cards div */
#gameRoom-inner-container {
  display: flex;
  flex-direction: column;
}
/* main game board div */
#gameBoard-container {
  border: 1px solid black;
  height: 60%;
}

#gameChat-container {
  border: 1px solid black;
  min-width: 28%;
  height: 100vh;
}

#playerCards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-top: 1em;
  margin-bottom: 1em;
}

.playerCard {
  text-align: center;
  height: 200px;
  width: 150px;
}

#login-container {
  display: flex;
  flex-direction: column;
}

#signup-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.formValidation-error {
  color: red;
  font-size: 0.75em;
  text-align: left;
}
