html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@media (min-width: 600px) {
  .css-1oqqzyl-MuiContainer-root {
    padding: 0;
  }
}

/* index.js */
#app-container {
  align-items: center;
  display: flex;
  /* justify-content: center; */
  max-width: 100%;
  max-height: 100%;
}

/* activeUsersList.js */

#activeUsers-outerContainer {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
#activeUsers-container {
  border: 1px solid gray;
  border-radius: 0 0 5px 5px;
  width: fit-content;
  height: 100vh;
  overflow-y: scroll;
  margin: 0;
  /* hides the scrollbar in IE, Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* hides the scrollbar on Chrome/Safari */
#activeUsers-container::-webkit-scrollbar {
  display: none;
}

#activeUsers-header {
  border-radius: 5px 5px 0 0;
  background-color: #9A8249;
  color: white;
  width: 100%;
  height: 35px;
}
#activeUsersList-container {
  border-radius: 25px;
  border: 1px solid #9A8249;
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin: 5px;
  padding: 3px;
  text-align: center;
  width: 170px;
}

.activeUser-item {
  width: fit-content;
  margin: 15px;
}

.activeUsers-username, .activeUsers-rank {
  display: inline-flex;
  align-items: center;
}

.userAvatar {
  border-radius: 999px;
  height: 30px;
  width: 30px;
  text-align: center;
  background-color: #9a824991;
  padding-top: 5px;
  font-size: 0.9em;
}

.userName {
  margin: 5px;
}

#video-container {
  text-align: center;
}

#instructions-container {
  text-align: center;
}

/* lobby/index.js */
#lobbyRoom-container {
  max-width: 100%;
  max-height: 100vh;
}

#gameDisplay-container {
  min-width: 70vw;
  height: fit-content;
  /* margin-top: 3.5em; */
  /* overflow: auto; */
}

#lobbyChat-container {
  height: 40vh;
  width: 70vw;
  margin-top: 1em;
  /* margin-bottom: 30px; */
}

/* LobbyChatRoom.js */

#chatList-outerContainer {
  display: flex;
  flex-direction: column;
}

.message-container {
  margin: 7px;
}

.chatUser {
  font-size: 0.65em;
}

.chatMessage {
  background-color: #9a824991;
  margin: 3px;
  width: fit-content;
  border-radius: 100px;
  padding: 5px;
  font-size: 0.9em;
}

.chatMessage-right {
  float: right;
  clear: both;
}

.chatMessage-left {
  justify-content: left;
  clear: both;
}

#submitChat-button:hover {
  background-color: transparent;
  box-shadow: none;
  transform: scale(1.2);
  transition: all ease 250ms;
}

/* CreateGame.js */

#createGame-button {
  color: #9A8249;
  width: 30%;
  margin: auto;
  border: 1px solid #9a824991;
  color: #9A8249;
}

#createGame-button:hover {
  border: 1px solid #9a824991;
  color: #9A8249;
  background-color: rgba(128, 128, 128, 0.112);
}

/* play/index.js */
#gameRoom-container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 100%;
  max-height: 100vh;
}
/* game board + player cards div */
#gameRoom-inner-container {
  display: flex;
  flex-direction: column;
}
/* main game board div */
#gameBoard-container {
  border: 1px solid black;
  height: 60%;
}

#gameChat-container {
  border: 1px solid black;
  min-width: 28%;
  height: 100vh;
}

#playerCards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 2em;
  height: fit-content;
}
.gameInfoDrawer {
  position: "relative";
  transition: "none !important";
}
.playerCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 150px;
  margin: 5px;
}
.playerCardContainer {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.viewport {
  height: 250px;
  display: flex;
  width: 750px;
  overflow: hidden;
  padding-left: 13px;
}

#login-container {
  display: flex;
  flex-direction: column;
}


#signup-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.formValidation-error {
  color: red;
  font-size: 0.75em;
  text-align: left;
}
.MuiDataGrid-main {
  border: 1px solid gray;
  border-radius: 5px 5px 0 0;
}

.MuiDataGrid-footerContainer {
  border: 1px solid gray;
  border-radius: 0 0 5px 5px;
  border-top: none;
}

.MuiDataGrid-columnHeaders {
  display: flex;
  background-color: #9A8249;
  color: white;
  font-family: monospace;
  font-weight: 700;
}

.MuiTab-root[aria-selected="true"], .MuiButtonBase-root[aria-selected="true"] {
  color: #9A8249;
  background-color: #9a824918;
}

